@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fefae0;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}
.navegacion {
  display: none;
}
nav {
  grid-area: header;
  background-color: #606c38;
  padding: 20px;
  text-align: center;
}
nav h1 {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
aside {
  grid-area: aside;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
aside h2 {
  color: black;
  font-size: 1.4rem;
  margin: 16px 0px 0px 0px;
}
aside p {
  color: black;
  font-size: 0.8rem;
  margin: 8px 16px;
}
#category {
  border: 1px solid #606c38;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  height: 30px;
}
main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #fef7c1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 16px;
  width: 18rem;
  height: auto;
}
.card img {
  width: 300px;
  height: 400px;
  margin: 0;
  object-fit: cover;
  border-radius: 12px;
}
.card h3 {
  margin: 12px 0 8px 0;
}
.descripcion {
  margin: 2px 0 0px 0;
  padding: 12px;
  font-size: 0.9rem;
  border-bottom: 1px solid black;
}
.precio {
  margin: 12px 0 12px 0;
  padding: 0 12px 6px 12px;
  font-size: 1.1rem;
}
.card button {
  background: linear-gradient(45deg, #606c38, #303728);
  color: #fefae0;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  cursor: pointer;
}
footer {
  grid-area: footer;
  background-color: #606c38;
  color: #fefae0;
  text-align: center;
  padding: 10px;
}
