@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    font-family: 'Roboto', sans-serif;
}
.navegacion {
   display: none;
}
nav {
    background-color: #606C38;
    padding: 10px;
}
nav h1 {
    color: #FEFAE0;
    font-size: 1.6rem;
    margin: 0;
}
aside {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}
aside h2 {
    color: #606C38;
    font-size: 1.4rem;
    margin: 16px 0px 0px 0px;
    
}
.card {
    background-color: #DDA15E;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}