@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fefae0;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}
/* header */
header {
  grid-area: header;
  width: 100%;
}
.navegacion {
  display: none;
}
nav {
  background-color: #4f772d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
/* menu lateral */
aside {
  background: linear-gradient(to bottom, #90a955, #fefae0);
  grid-area: aside;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 13rem;
}
aside h2 {
  color: #132a13;
  font-size: 1.4rem;
  margin: 1px 0px 5px 0px;
}
aside p {
  color: #132a13;
  font-size: 0.8rem;
  margin: 8px 80px;
  font-weight: 450;
}
aside h3 {
  color: #132a13;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 8px 8px;
}
.filtro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.filtro h3 {
  color: #132a13;
  font-size: 1.1rem;
  margin: 8px 0 8px 0;
}
#category {
  margin: 8px 0 0 0;
  border: 1px solid #606c38;
  border-radius: 50px;
  padding: 16px;
  background-color: white;
  width: 200px;
  height: 30px;
}
/* area productos */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}
/* Cards */
.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 18rem;
  height: auto;
}
.card img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.card h3 {
  margin: 12px 0 8px 0;
}
.descripcion {
  margin: 2px 0 0px 0;
  padding: 12px;
  font-size: 0.9rem;
  border-bottom: 1px solid black;
}
.precio {
  margin: 12px 0 12px 0;
  padding: 0 12px 6px 12px;
  font-size: 1.1rem;
}
.card button {
  background: linear-gradient(45deg, #606c38, #303728);
  color: #fefae0;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}
/* footer */
footer {
  grid-area: footer;
  background-color: #606c38;
  color: #fefae0;
  text-align: center;
  padding: 10px;
}
/* vista pc */
@media (min-width: 576px) {
  body {
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
  header {
    width: 100%;
  }
  .navegacion {
    list-style: none;
    display: flex;
    gap: 16px;
  }
  nav{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  aside {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(to right, #90a955, #fefae0);
  }
  aside h2 {
    margin: 20px 0 10px 0;
  }
  aside p{
    margin: 10px 10px;
  }
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
